{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 36.18662426031715,
        "longitude": -86.70608170330524,
        "elevation": 157,
        "unit_system": "imperial",
        "location_name": "Down Home",
        "time_zone": "America/Chicago",
        "external_url": null,
        "internal_url": null
    }
}